<div class="colums is-full is-fullwidth is-align-content-center  " style="justify-content: center; background-color: rgb(238, 238, 238)">
  <div class="column is-6 is-offset-3 has-text-centered  is-align-items-center ">
   <div class="p-2" style="justify-items: center;">

     <img src="assets/conde.png" alt="" />
   </div> 
    <p style="line-height: 1.2" >
      '''Préparez-vous à être inspiré et à dépasser vos limites chez Give Back School : nous sommes impatients de vous
      accompagner vers l'excellence!''',
    </p>

    <p style="font-weight: bolder; font-size: 20pt; padding-top: 10px">Fanta Conde</p>
    <p class="is-italic" style="font-weight: bold">Giveback Academie Founder</p>
  </div>

  <div class="column is-centered is-align-content-center has-background-success is-fullwidth is-float-center" style="justify-items: center; margin-top: 100px">
    <img class="is-centered" src="assets/screenshot.png" alt="" />
  </div>
</div>
