<div class="colums is-full" style="background-color: rgb(238, 238, 238)">
  <div class="column is-6 is-offset-3 has-text-centered">
    <img src="assets/conde.png" alt="" />
    <p style="line-height: 1.2" class="p-4">
      '''Préparez-vous à être inspiré et à dépasser vos limites chez Give Back School : nous sommes impatients de vous
      accompagner vers l'excellence!''',
    </p>

    <p style="font-weight: bolder; font-size: 20pt; padding-top: 10px">Fanta Conde</p>
    <p class="is-italic" style="font-weight: bold">Giveback Academie Founder</p>
  </div>

  <div class="column has-text-centered has-background-success" style="margin-top: 100px">
    <img src="assets/screenshot.png" alt="" />
  </div>
</div>
