

<div class="columns" style=" margin-right: 0px; padding-left: 0px; margin-left: 0px">
  <app-backnavbar></app-backnavbar>
  <div class="column is-8 is-offset-2" style="padding-top: 100px;">
    <div class="card" style="position: relative; height: 0px; padding-bottom: 56.25%">
      <iframe
        src="https://iframe.mediadelivery.net/embed/454260/95c12b38-e55b-49cf-8d88-e5aa317d1b73?autoplay=true"
        loading="lazy"
        style="border: none; border-radius: 10px; position: absolute; top: 0; height: 100%; width: 100%"
        allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
        allowfullscreen="true"
      >
      </iframe>
    </div>
  </div>
</div>
<!-- <app-navbar></app-navbar> -->
