

@if (!inSession) {
 <!-- <app-backnavbar></app-backnavbar> -->
  <div style="height: 80px"></div>
<section class="hero is-fullheight ">
  <div class="hero-body">
   
    <div class="container has-text-centered">
      <p class="" style="font-weight: bold; font-size: 18pt;">Welcome to Giveback School </p>
      <p class="is-italic pb-4">Live Lessons and Discussions.</p>
      <button class="is-centered button is-primary is-size-5" (click)="getVideoSDKJWT()">Join Session</button>
    
    </div>


    
  </div>
</section>

}
      <div>

      <app-backnavbar></app-backnavbar>
      <span class="zoom-session-wrapper "  id="sessionContainer">

        
      </span>
    </div>
    
