<app-navbar></app-navbar>


<!-- <div class="columns">
  <div class="column">


  </div>
</div> -->

@if (!inSession) {
<section class="hero is-fullheight is-dark">
  <div class="hero-body">
   
    <div class="container has-text-centered">
      <h1 class="title">Full Screen Content</h1>
      <p>This section fills the entire screen.</p>
      <button class="is-centered" (click)="getVideoSDKJWT()">Join Session</button>
      {{windowHeight}}
    </div>

   

    
 
    
      <!-- <div class="  zoom-session-wrapper " style="padding-bottom: 10px; padding-top: 50px;"   id="sessionContainer"></div> -->
    
  </div>
</section>

}
  <section>
    <div [ngStyle] = "{'height.px': windowHeight -78, 'padding-top.px': 78 }" id="sessionContainer"></div>


  </section>
 




